<form class="form-add-item__container" (ngSubmit)="onSubmit()">
  <div class="form-add-item__title">
    <label for="title">Nome da Tarefa</label>
    <input type="text" id="title" [(ngModel)]="title" name="title" required>
  </div>

  <div class="form-add-item__areaName">
    <label for="areaId">Área</label>
    <select id="areaId" [(ngModel)]="areaId" name="areaId" required>
      <option *ngFor="let area of areas" [value]="area.id">{{ area.nome }}</option>
    </select>
  </div>

  <div class="form-add-item__subAreaName">
    <label for="subareaId">Subárea</label>
    <select id="subareaId" [(ngModel)]="subareaId" name="subareaId" required>
      <option *ngFor="let subarea of subareas" [value]="subarea.id">{{ subarea.nome }}</option>
    </select>
  </div>

  <div class="form-add-item__score">
    <label for="score">Pontuação</label>
    <input type="number" id="score" [(ngModel)]="score" name="score" required min="1">
  </div>

  <button type="submit">Adicionar Item</button>
</form>
