<app-menu-title></app-menu-title>

<div class="container__home">

  <div class="home__areas">

    <div class="areas-list-title">
      <h2>Áreas</h2>
    </div>

    <app-form-add-area [areas]="areas" (areaAdded)="onAreaAdded($event)"></app-form-add-area>
    
    <app-areas-list [areas]="areas"></app-areas-list>
    
  </div>

 
  <div class="home__tasks">
    <div class="task-list-title">
      <h2>Minhas Tarefas</h2>
    </div>
    <app-form-add-item [areas]="areas" (taskAdded)="onTaskAdded($event)"></app-form-add-item>
    <app-task-list [tasks]="tasks" [isLoading]="isLoading" [areas]="areas" [subareas]="subareas" (taskDeleted)="onTaskDeleted($event)"></app-task-list>
  </div>
</div>
