<div class="task-detail" *ngIf="task">
  <div class="button-container">
    <button (click)="goBack()">Voltar</button>
  </div>
  <div class="task-header">
    <div class="task-title">
      <h1>
        <span *ngIf="!isEditing['title']" (click)="toggleEdit('title')">{{
          task.title
        }}</span>
        <input
          *ngIf="isEditing['title']"
          #titleInput
          [value]="task.title"
          (blur)="onInputBlur($event, 'title')"
          (keyup.enter)="onInputBlur($event, 'title')"
        />
      </h1>
    </div>
    <div class="task-score" [style.background-color]="getAreaColor()">
      <span *ngIf="!isEditing['score']" (click)="toggleEdit('score')"
        >+ {{ task.score }} XP</span
      >
      <input
        *ngIf="isEditing['score']"
        type="number"
        #scoreInput
        [value]="task.score"
        (blur)="onInputBlur($event, 'score')"
        (keyup.enter)="onInputBlur($event, 'score')"
      />
    </div>
  </div>
  <div class="task-area">
    <div class="area-info">
      <div class="area-container">
        <p class="area-label">Área:</p>
        <div class="area-card" (click)="toggleEdit('areaId')">
          <span *ngIf="!isEditing['areaId']">{{
            area?.name
          }}</span>
          <select
            *ngIf="isEditing['areaId']"
            #areaSelect
            (click)="$event.stopPropagation()"
            (change)="onSelectChange($event, 'areaId')"
            (blur)="onBlur('areaId')"
          >
            <option
              *ngFor="let area of areas"
              [value]="area.id"
              [selected]="area.id === task.areaId"
            >
              {{ area.name }}
            </option>
          </select>
          <div
            class="area-circle"
            [style.background-color]="getAreaColor()"
          ></div>
        </div>
      </div>

      <div class="subarea-container">
        <p class="subarea-label" *ngIf="area?.name !== 'Sem Categoria'">
          Subárea:
        </p>
        <div class="subarea-card" *ngIf="area?.name !== 'Sem Categoria'">
          <span
            *ngIf="!isEditing['subareaId']"
            (click)="toggleEdit('subareaId')"
          >
            {{ subarea?.name || "Nenhuma subárea selecionada" }}
          </span>
          <select
            *ngIf="isEditing['subareaId']"
            #subareaSelect
            (change)="onSelectChange($event, 'subareaId')"
            (blur)="onSelectChange($event, 'subareaId')"
          >
            <option
              *ngFor="let subarea of filteredSubareas"
              [value]="subarea.id"
              [selected]="subarea.id === task.subareaId"
            >
              {{ subarea.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
