.task-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #252525;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.05);
  }
  
  .button-container {
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .task-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .task-title {
    flex: 1;
  }

  .task-title span {
    font-size: 2.8rem;
  }
  
  .task-score {
    font-size: 1.8rem;
    border: solid black 3px;
    padding: 15px;
    border-radius: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 
                 -2px -2px 4px rgba(0, 0, 0, 0.8), 
                 2px -2px 4px rgba(0, 0, 0, 0.8), 
                 -2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .task-area {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .area-label,
.subarea-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

  .area-card,
.subarea-card {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #252525;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: fit-content;
  cursor: pointer;
}

.area-card span,
.subarea-card span {
  font-size: 1rem;
}

.area-card select,
.subarea-card select {
  font-size: 1rem;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 8px;
}

.area-card:hover,
.subarea-card:hover {
  border-color: #007bff;
  background-color: #181717;
}
  
  .area-info {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 30px;
  }
  
  .area-name, .subarea-name {
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
  }
  
  input, select {
    padding: 8px;
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .area-circle {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }