<div *ngIf="area" class="area-detail">
  <button (click)="goBack()">Voltar</button>
  <div class="area-color" [style.background-color]="area.color">
    <div class="area-name">
      <span *ngIf="!isEditing['name']" [style.cursor]="area.name === 'Sem Categoria' ? 'default' : 'pointer'" (click)="area.name !== 'Sem Categoria' && toggleEditName()">{{
        area.name
      }}</span>
      <input
        *ngIf="isEditing['name']"
        type="text"
        [value]="area.name"
        id="nameInput"
        (blur)="onNameBlur($event)"
        (keyup.enter)="onNameBlur($event)"
      />
    </div>

    <div class="area-color-picker">
      <div
        *ngIf="!isEditing['color']"
        class="color-circle"
        [style.background-color]="area.color"
        [style.cursor]="area.name === 'Sem Categoria' ? 'default' : 'pointer'"
        (click)="area.name !== 'Sem Categoria' && toggleEditColor()"
      ></div>
      <input
        *ngIf="isEditing['color']"
        type="color"
        [value]="area.color"
        id="colorInput"
        (blur)="onColorBlur($event)"
        (change)="onColorBlur($event)"
      />
    </div>
  </div>

  <div class="form-container" *ngIf="canAddSubarea">
    <app-form-add-subarea
      [areaId]="area.id"
      (subareaAdded)="handleSubareaAdded($event)"
    ></app-form-add-subarea>
  </div>

  <div class="subareas-container">
    <app-subareas-list
      [subareas]="subareas"
      [isLoading]="isLoading"
      [canAddSubarea]="canAddSubarea"
      (subareaDeleted)="handleSubareaDeleted($event)"
    ></app-subareas-list>
  </div>
</div>
