@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color:white;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}

body {
    background-color: #121212;
}

input, select, button {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
}

input::placeholder, select::placeholder {
    color: #bbbbbb;
}

button {
    background-color: #1e88e5;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1565c0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}